@model BookMovie.Models.Theatre

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Theatre</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TheatreName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheatreName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TheatreAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheatreAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TheatreOwnerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheatreOwnerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.MovieName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TheatreId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
