@model BookMovie.Models.Theatre

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Theatre</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TheatreName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheatreName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TheatreAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheatreAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TheatreOwnerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheatreOwnerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.MovieName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TheatreId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
